<roundcube:include file="includes/layout.html" />

<div id="layout-content" class="selected no-navbar" role="main"><br /><br />
    <roundcube:object name="logo" style="top:0px" src="/images/logo.svg" id="logo" alt="Logo" />
    <p style="margin-top: 1.5rem; margin-bottom: 1.5rem; font-size: 20px; font-weight: bold;"><roundcube:label name="password_recovery.recovery_password" /></p>
    <form id="new-password-form" name="new-password-form" method="post" class="propform">
        <input type="hidden" name="_username" value="<roundcube:var name="env:pr_username" />">
        <input type="hidden" name="_a" value="save">
        <table style="margin-left: auto; margin-right: auto; text-align:right;">
        <tbody>
            <tr>
                <td class="title">
                    <label for="_newpassword"><roundcube:label name="password_recovery.newpassword" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="password" size="35" maxlength="250" id="_newpassword" name="_newpassword" autocomplete="off">
                </td>
            </tr>
            <tr>
                <td class="title">
                    <label for="_newpassword_confirm"><roundcube:label name="password_recovery.newpassword_confirm" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="password" size="35" maxlength="250" id="_newpassword_confirm" name="_newpassword_confirm" autocomplete="off">
                </td>
            </tr>
            <roundcube:if condition="env:pr_use_question == true" />
            <tr><td colspan="2">&nbsp;&nbsp;</td></tr>
            <tr>
                <td class="title">
                    <label for="_question"><roundcube:label name="password_recovery.question" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="text" size="35" maxlength="250" id="_question" name="_question" readonly value="<roundcube:var name="env:pr_question" />">
                </td>
            </tr>
            <tr>
                <td class="title">
                    <label for="_answer"><roundcube:label name="password_recovery.answer" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="text" size="35" maxlength="250" id="_answer" name="_answer" autocomplete="off">
                </td>
            </tr>
            <roundcube:endif />
            <roundcube:if condition="env:pr_use_confirm_code == true" />
            <tr><td colspan="2">&nbsp;&nbsp;</td></tr>
            <tr>
                <td class="title">
                    <label for="_code"><roundcube:label name="password_recovery.code" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="text" size="35" maxlength="250" id="_code" name="_code" autocomplete="off">
                </td>
            </tr>
            <roundcube:endif />
        </tbody>
        </table>
        <p class="formbuttons" style="text-align:center;"><br />
            <roundcube:button command="plugin.password_recovery.save" label="password_recovery.save" class="button mainaction" />
            <span>&nbsp;&nbsp;</span>
            <roundcube:button command="plugin.password_recovery.cancel" label="password_recovery.cancel" class="button" />
        </p>
    </form>
</div>

<noscript>
    <p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
</noscript>

<roundcube:include file="includes/footer.html" />
