<roundcube:include file="includes/layout.html" />

<div id="layout-content" class="selected no-navbar" role="main"><br /><br />
    <roundcube:object name="logo" style="top:0px" src="/images/logo.svg" id="logo" alt="Logo" />
    <p style="margin-top: 1.5rem; margin-bottom: 1.5rem; font-size: 20px; font-weight: bold;"><roundcube:label name="password_recovery.recovery_password" /></p>
    <form id="recovery-password-form" name="recovery-password-form" method="post" class="propform">
        <input type="hidden" name="_a" value="reset">
        <table style="margin-left: auto; margin-right: auto; text-align:right;">
        <tbody>
            <tr>
                <td class="title">
                    <label for="_username"><roundcube:label name="username" /></label>&nbsp;&nbsp;
                </td>
                <td class="input">
                    <input type="text" size="35" maxlength="250" id="_username" name="_username" autocomplete="off" value="<roundcube:var name="request:_u" />">
                </td>
            </tr>
        </tbody>
        </table>
        <p class="formbuttons" style="text-align:center;"><br />
            <roundcube:button command="plugin.password_recovery.reset" label="password_recovery.recovery" class="button mainaction" />
            <span>&nbsp;&nbsp;</span>
            <roundcube:button command="plugin.password_recovery.cancel" label="password_recovery.cancel" class="button" />
        </p>
    </form>
</div>

<noscript>
    <p class="noscriptwarning"><roundcube:label name="noscriptwarning" /></p>
</noscript>

<roundcube:include file="includes/footer.html" />
